body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
form {
  display: block;
  margin-top: 0em;
}

h4 {
  color: #333 !important;
  font-size: 21px;
  line-height: 24px;
  padding-bottom: 10px;
}

.signonContainer {
  width: 354px;
  position: absolute;
  z-index: 99999;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  border:solid 2px black;
}

.editorial {
  padding: 20px 10px;
}

.cbolui-ddl .theme-light {
  background: #fff;
}
.form-control{
  background-color: #eee;
}
#signInBtn {
  max-width: 305px;
  line-height: 46px;
  margin-left: 0;
}
.rememeberMe-row {
  display: table;
}
