
<script type="text/javascript">



</script>

<div class="signonContainer center-block" style="display: block;">
  <div class="editorial theme-light">
    <br>
    <h4>Sign On</h4>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="row">
         <!-- <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">

            <label id="usernameLabel" for="username" class="text-input-label">User ID</label>
            <input type="text" class="form-control userMask" id="username" name="username" autocomplete="off"
                   placeholder="User ID" aria-describedby="usernameLabel">

            <span class="validation-message-danger hidden inline-error" id="emptyUidError" role="alert">
												 Enter a User ID
												</span>
            <span class="validation-message-danger hidden inline-error" id="lessUidChaError" role="alert">
												 Your User ID must be greater than 2 characters
												</span>


          </div>

          <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
            <label id="passwordLabel" for="password" class="text-input-label">Password</label>

            <input type="password" class="form-control" name="password" id="password"
                   autocomplete="off" placeholder="Password" aria-describedby="passwordLabel"
                   aria-label="passwordLabel">
            <span class="validation-message-danger hidden inline-error" id="emptyPasswordError" role="alert">
													 	Enter a Password
													</span>
            <span class="validation-message-danger hidden inline-error" id="lessPasswordChaError" role="alert">
														Your password must be at least 6 characters long
													</span>
          </div>-->

          <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="model.userName" #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required />
            <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
              <div *ngIf="userName.errors.required">User Name is required</div>
            </div>
          </div>
          <div class="form-group col-md-6 col-sm-12 col-xs-12 col-lg-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

        </div>

        <div class="row" style="padding-top:10px">
          <label class="customcheck">Remember my User ID
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="row " style="padding-top:10px;padding-bottom:10px">
          <div class="form-group">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-6 col-md-6 ">
            <div class="row">
              <a id="RequestUserIDReminder" class="btn btn-link removeMobilePadding requestUserIDReminder removeWhiteSpace" href="/US/JSO/uidn/RequestUserIDReminder.do?fuipFlowInd=userID&amp;JFP_TOKEN=JOTV82DT" target="_top">Forgot User ID?</a>
            </div>
            <div class="row">
              <a id="RequestUserIDReminder-mobile" class="btn btn-link removeMobilePadding requestUserIDReminder" href="/US/JSO/uidn/RequestUserIDReminder.do?fuipFlowInd=pwd&amp;JFP_TOKEN=JOTV82DT" target="_top">Forgot Password?</a>
            </div>
          </div>


          <div class="col-xs-6 col-md-6">
            <div class="row">

              <a id="activate_card" class="btn btn-link removeMobilePadding top20" href="/US/CBOL/sec/secgat/flow.action?siteId=CB&amp;locale=en_US&amp;origin=CBOL&amp;JFP_TOKEN=JOTV82DT" target="_top">Activate a Card</a>

            </div>
            <div class="row secondset">



              <!-- BAU Code Exexute here -->
              <a id="register_acc" class="btn btn-link removeMobilePadding top20" href="/JSO/reg/Setup.do?JFP_TOKEN=JOTV82DT" target="_top">Register for Online Access</a>


            </div>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
